.container{
    display: grid;
    height: 500px;
    width: 500px;
    justify-content: center;
}

#choice{
    background-color: beige;
}

.box{
    background-color: lightgrey;
}

.box:hover{
    background-color: aquamarine;
}

/* .change{
    background-color: blue;
} */

